* {
    font-size: 21pt;
    font-family: 'Roboto', sans-serif;
}

body {
    border-top: #FCEE21 3px;
    max-width: 1900px;
    margin: auto;
}

.wwwapas {
    font-family: 'Coiny', cursive;
    font-size: 42pt;
}

h2>span{
    background-color: #FCEE21; 
    font-weight: 700;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    border-top: 8px solid #FCEE21;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

img {
    object-fit: contain;
}

.big-wwwapas {
    font-size: 88pt;
   
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav>ul>li>a {
    font-size: 24pt;
    color: #626262;
    text-decoration: none;
}



.redes {
    display: flex;
    justify-content: space-around;
    font-size: 25pt;
    color: #808080;
}

#servicios {
    font-size: 41pt;
}

.servicios {
    display: flex;
    padding: 100px;
    border-top: 2px solid #626262;
    border-bottom: 2px solid #626262;
}

.servicios-text {
    margin-left: 80px;
}

.servicios>div>ol {
    padding: 0px;
}

.servicios>div>ol>li {
    font-size: 24pt;
    margin: 50px;
}


footer {
    font-size: 33pt;
    background-color: #FCEE21;
}
.collage{
    display: flex;
    justify-content:space-around;
}
.collage>img{
    box-sizing: border-box;
    max-width: 50%;
}

ol{
    font-size: 2em;
    font-weight:400;
    list-style-position:inside;
}

.first-block, .second-block{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;
    width: 100%;
}

.yellow-li {
    font-weight: bold;
    background-color: #FCEE21;
}

#contacto{
    display: flex;
    justify-content: space-between;
}
label, input{
    display: block;
}


